In [2]:
list_saman =  ['sunny','faizi', 'shizu']
print(list_saman)

['sunny', 'faizi', 'shizu']

In [4]:
list_new =list_saman + ["gosht", "dahi", ]
print(list_new)

['sunny', 'faizi', 'shizu', 'gosht', 'dahi']

In [5]:
print(list_new[1:4])

['faizi', 'shizu', 'gosht']

In [7]:
#[1:4:2] 
# first is starting point--- kch na likhen to blql start sy shuru krta hai
#second is endind point--- kch na likhen to blql end tk jata hai
#3rd is step ki position--- kch na likhen to plus 1 ka increment krna hai

print(list_new[1:4:2])

['faizi', 'gosht']

In [8]:
print(list_new[:4:2])

['sunny', 'shizu']

In [9]:
print(list_new[1::2])

['faizi', 'gosht']

In [11]:
print(list_new[1:4:])

['faizi', 'shizu', 'gosht']

In [20]:
#if you use minus indexing
#               -5       -4      -3        -2       -1
#list_new = ['sunny', 'faizi', 'shizu', 'gosht', 'dahi']
#               0        1        2        3        4

print(list_new[-4:-1:])

['faizi', 'shizu', 'gosht']

In [28]:
list_new[-1:-6:-1]

['dahi', 'gosht', 'shizu', 'faizi', 'sunny']

In [29]:
#printing in reverse order
l1 = ["A", "B", "C"]
l1[-1:-4:-1]

['C', 'B', 'A']

In [33]:
list_new

['sunny', 'faizi', 'shizu', 'gosht', 'dahi']

In [36]:
list_new.append("Moo Dhona")
list_new

['sunny',
 'faizi',
 'shizu',
 'gosht',
 'dahi',
 'Moo Dhona',
 'Moo Dhona',
 'Moo Dhona']

In [40]:
del list_new[6]
list_new

['sunny', 'faizi', 'shizu', 'gosht', 'dahi', 'Moo Dhona']

In [41]:
list_new.remove('Moo Dhona')
list_new

['sunny', 'faizi', 'shizu', 'gosht', 'dahi']

In [43]:
#insert on a specific location
list_new.insert(3,'podina')
list_new

['sunny', 'faizi', 'shizu', 'podina', 'podina', 'gosht', 'dahi']

In [44]:
list_new.remove('podina')
list_new

['sunny', 'faizi', 'shizu', 'podina', 'gosht', 'dahi']

In [46]:
#replace / Overright / Update

list_new[3] = "dhania"
list_new

['sunny', 'faizi', 'shizu', 'dhania', 'gosht', 'dahi']

In [50]:
#Using if else 

person = "karachi"
if person == "karachi":
    print("Imran Bhai")
elif person == "peshawar":
    print("khan saab")
elif person == "faislabad":
    print("Mran Khan")
elif person == "islamabad":
    print("IK <3")
else:
    print("Imran Khan Niazi")

Imran Bhai

In [57]:
#for (int = 10: i<=1: i--)

for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [58]:
for i in range(1, 10, 3):
    print(i)

1
4
7

In [59]:
list_new

['sunny', 'faizi', 'shizu', 'dhania', 'gosht', 'dahi']

In [ ]:
#it's not a good approach
task_to_find = ""
if task_to_find == list_new[0]:
    print("Found")
elif task_to_find == list_new[1]:
    print("Found")

In [62]:
task_to_find = "faizi"
for task in list_new:
    if task_to_find == task:
        print("Found")
        print(task_to_find)

Found
faizi

In [67]:
#task_to_find = "faizi"
for task in range(0,len(list_new)):
    if 'faizi' == list_new[task]:
        print("Found" + str(task))
        print(task_to_find)

Found1
faizi

In [77]:
# to check it's positve or negative
a =1
if a >= 0:
    print("positve")
else:
    print("negative")

positve

In [105]:
#find grade

b = int(input("Enter Marks of math"))
c = int(input("Enter Marks of computer"))
d = int(input("Enter Marks of phy"))
e = int(input("Enter Marks of eng"))
f = int(input("Enter Marks of history"))
avg = b + c + d + e+ f
avg /= 5
if avg <= 100 and avg >= 90:
    print("grade A")
    print(avg)
elif avg <= 89 and avg >= 80:
    print("grade B")
    print(avg)
elif avg <= 79 and avg >= 70:
    print("grade c")
    print(avg)
elif avg <= 69 and avg >= 60:
    print("grade D")
    print(avg)
elif avg <= 59 and avg >= 50:
    print("grade E")
    print(avg)
else:
    print("Fail")
    print(avg)

Enter Marks of math90
Enter Marks of computer95
Enter Marks of phy96
Enter Marks of eng93
Enter Marks of history97
grade A
94.2